<header>
    <article class="module-title">
        <h3>Modulo 1</h3>
        <h1>Logica de Programación</h1>
        <figure>
            <img src="/images/module-icons/icons8-module-1.png" alt="icono del modulo">
        </figure>
    </article>
</header>