<div class="sociale-login">
    <div class="card-body">
        <a class="btn" href="/auth/google" role="button">
            <img src="/images/social-media-icon/icons8-google-48.png" alt="google login">
        </a>
    </div>
    <div class="card-body">
        <a class="btn" href="/auth/facebook" role="button">
            <img src="/images/social-media-icon/icons8-facebook-48.png" alt="facebook login">
        </a>
    </div>
</div>