<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurrito</title>
    <link rel="stylesheet" href="styles/home-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("partials/header-module.ejs") %>
    <main>
        <section class="module" id="module-1">
            <div class="level-0" id="level-0-m1">
                <button class="btn-level">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front"></span>
                    <a href="/">
                        <img src="/images/module-icons/icon-level-1.png" alt="icono nivel 1">
                    </a>
                </button>
            </div>
            <div class="level-1" id="level-1-m1">
                <button class="btn-level">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front"></span>
                    <a href="/">
                        <img src="/images/module-icons/icon-level-2.png" alt="icono nivel 2">
                    </a>
                </button>
            </div>
            <div class="level-2" id="level-2-m1">
                <button class="btn-level">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front"></span>
                    <a href="/">
                        <img src="/images/module-icons/icon-level-3.png" alt="icono nivel 3">
                    </a>
                </button>
            </div>
            <div class="level-3" id="level-3-m1">
                <button class="btn-level">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front"></span>
                    <a href="/">
                        <img src="/images/module-icons/icon-level-4.png" alt="icono nivel 4">
                    </a>
                </button>
            </div>
            <div class="level-4" id="level-4-m1">
                <button class="btn-level">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front"></span>
                    <a href="/">
                        <img src="/images/module-icons/icon-level-5.png" alt="icono nivel 5">
                    </a>
                </button>
            </div>
            <div class="level-5" id="level-5-m1">
                <button class="btn-level">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front"></span>
                    <a href="/">
                        <img src="/images/module-icons/icon-level-6.png" alt="icono nivel 6">
                    </a>
                </button>
            </div>
            <div class="level-6" id="level-6-m1">
                <button class="btn-level">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front"></span>
                    <a href="/">
                        <img src="/images/module-icons/icon-level-7.png" alt="icono nivel 7">
                    </a>
                </button>
            </div>
            <div class="level-7" id="level-7-m1">
                <button class="btn-level">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front"></span>
                    <a href="/">
                        <img src="/images/module-icons/icon-level-8.png" alt="icono nivel 8">
                    </a>
                </button>
            </div>
        </section>
    </main>
    <aside class="user-work--area">
        <div class="home-title">
            <%- include("partials/logo.ejs") %>
        </div>
        <ul class="user-area--opt">
            <li class="user-opt">
                <a href="/main-page">Aprender</a>
            </li>
            <li class="user-opt">
                <a href="">Flash Cards</a>
            </li>
            <li class="user-opt">
                <a href="">Perfil</a>
            </li>
            <li class="user-opt">
                <a href="">Configuración</a>
            </li>
        </ul>
    </aside>

    <aside class="right-aside">

    </aside>
</body>
</html>