<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurrito</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <main class="login-menu">
        <%- include("partials/logo.ejs") %>
        <h1>DevBurrito</h1>
        <p class="login-text">Ingresar su contraseña</p>
        <form action="/main-page" method="POST">
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="contraseña" required>
                <button type="submit" class="btn btn-dark">Continuar</button>
            </div>
        </form>
    </main>
</body>
</html>